export BUTTERCUP_K8S_VALUES_TEMPLATE=./k8s/values-upstream-minikube.template
export DEPLOY_CLUSTER=true
export DEPLOY_SIGNOZ=false
export CLUSTER_TYPE=minikube
export TAILSCALE_ENABLED=false
export COMPETITION_API_ENABLED=false
export CRS_KEY_ID="515cc8a0-3019-4c9f-8c1c-72d0b54ae561"
export CRS_KEY_TOKEN="VGuAC8axfOnFXKBB7irpNDOKcDjOlnyB"
export CRS_KEY_TOKEN_HASH='$argon2id$v=19$m=65536,t=3,p=4$Dg1v6NPGTyXPoOPF4ozD5A$wa/85ttk17bBsIASSwdR/uGz5UKN/bZuu4wu+JIy1iA'
export LITELLM_MASTER_KEY="06beca4d4debbb6bd0933cddd28a3f60"
export AZURE_API_BASE="ignore-me"
export AZURE_API_KEY="ignore-me"
export OTEL_PROTOCOL="http"
export LANGFUSE_ENABLED=true
export DOCKER_USERNAME=""
export DOCKER_PAT=""

# Secrets/Env replaced
export OTEL_ENDPOINT=replace-me
export BUTTERCUP_NAMESPACE=replace-me
export GHCR_AUTH=replace-me
export OPENAI_API_KEY=replace-me
export ANTHROPIC_API_KEY=replace-me
export GEMINI_API_KEY=replace-me
export LANGFUSE_HOST=replace-me
export LANGFUSE_PUBLIC_KEY=replace-me
export LANGFUSE_SECRET_KEY=replace-me
