**/env/
**/venv/
**/.env*/
**/.venv/
**/.env/
**/*.bak

**/pip-wheel-metadata/
**/*.egg-info/
**/__pycache__/
**/.coverage*
**/.idea
**/html/
**/dist/
**/.pytest_cache
**/.pdm-build/
**/.pdm-python
**/pdm.lock
fuzzer/dockerfiles/runner_image.Dockerfile
orchestrator/Dockerfile
patcher/Dockerfile
seed-gen/Dockerfile
**/.mypy_cache/
**/.ruff_cache/

**/.git/
.dockerignore
