example-crs-architecture/

.terraform/
errored.tfstate

## Localized environment variables
**/.env
**/env
**/venv

## Generated Kubernetes Resources
.k8s
deployment/k8s/values-*.yaml
deployment/k8s/base/tailscale-coredns/coredns-custom.yaml
deployment/k8s/base/tailscale-operator/operator.yaml

## Python
__pycache__/

# Devenv
# This is another solution for managing dev environments
# And these entries are ment to prevent accidentally
# committing stuff that others may not be utilizing.
.devenv*
devenv.local.nix
devenv.lock

# direnv
.direnv

env/
pip-wheel-metadata/
*.egg-info/
__pycache__/
.coverage*
.idea
html/
dist/
.pdm-*
pdm.lock
.langchain.db

*.bak
*.orig

# generated protobuf
common/common/datastructures/fuzzer_msg*

crs_scratch/*
tasks_storage/*
