# docker compose .env template

# LiteLLM variables
BUTTERCUP_LITELLM_KEY=sk-1234
# You only need to set variables for APIs you will use.
AZURE_API_BASE=<INSERT_HOST>
AZURE_API_KEY=<INSERT_KEY>
OPENAI_API_KEY=<INSERT_KEY>

# (optional) LangFuse variables
LANGFUSE_HOST=<INSERT_HOST>
LANGFUSE_PUBLIC_KEY=<INSERT_KEY>
LANGFUSE_SECRET_KEY=<INSERT_KEY>

# Scantron/Competition-API GitHub PAT
SCANTRON_GITHUB_PAT=<INSERT_PAT>
