**/env/
**/venv/
**/.env*/
**/.venv/
**/.env/

**/pip-wheel-metadata/
**/*.egg-info/
**/__pycache__/
**/.coverage*
**/.idea
**/html/
**/dist/
**/.pytest_cache
**/.pdm-build/
**/.pdm-python
**/pdm.lock
**/Dockerfile
**/.mypy_cache/
**/.ruff_cache/

**/.git/
.dockerignore
