{{- if .Values.enabled }}
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ .Release.Name }}-dind
  labels:
    app: dind
spec:
  selector:
    matchLabels:
      app: dind
  template:
    metadata:
      labels:
        app: dind
    spec:
      {{- include "buttercup.imagePullSecrets" . | nindent 6 }}
      # Add ghcr.io to hosts file, then proxy localhost to registry-cache
      hostAliases:
        - ip: "127.0.0.1"
          hostnames:
          - "ghcr.io"
      containers:
      - name: dind
        image: "docker:24.0.6-dind"
        securityContext:
          privileged: true
        resources:
          {{- toYaml .Values.resources | nindent 12 }}
        env:
          - name: DOCKER_TLS_CERTDIR
            value: ""
          - name: REGISTRY_HOST
            value: "{{ .Release.Name }}-registry-cache"
        command:
          - sh
          - -c
          - |
            # Install required packages
            apk add --no-cache socat ca-certificates

            # Setup certificates
            cp /certs/tls.crt /usr/local/share/ca-certificates/registry-cache.crt
            update-ca-certificates

            # Create a directory for the docker socket with proper permissions
            mkdir -p {{ include "buttercup.core.uniqueDockerSocketDir" . }}
            chmod 777 {{ include "buttercup.core.uniqueDockerSocketDir" . }}

            # Start socat proxies in background
            socat TCP-LISTEN:443,fork,reuseaddr TCP:$REGISTRY_HOST:443 &
            socat TCP-LISTEN:80,fork,reuseaddr TCP:$REGISTRY_HOST:80 &

            # Start Docker daemon with socket in a location that can be shared
            dockerd --host=unix://{{ include "buttercup.core.uniqueDockerSocketDir" . }}/docker.sock
        volumeMounts:
          - name: dind-storage
            mountPath: /var/lib/docker
          - name: tls-cert
            mountPath: /certs
            readOnly: true
          {{- include "buttercup.dockerSocketVolumeMount" . | nindent 10 }}
          {{- include "buttercup.standardVolumeMounts" (dict "usesTasksStorage" true) | nindent 10 }}
          {{- include "buttercup.nodeLocalVolumeMount" . | nindent 10 }}
      volumes:
        {{- include "buttercup.volumes.scratch" . | nindent 8 }}
        {{- include "buttercup.volumes.tasks" . | nindent 8 }}
        {{- include "buttercup.nodeLocalVolume" . | nindent 8 }}
        - name: dind-storage
          emptyDir: {}
        - name: tls-cert
          secret:
            secretName: registry-cache-tls
        {{- include "buttercup.dockerSocketVolume" . | nindent 8 }}
{{- end }} 