export TF_VAR_ARM_CLIENT_ID="<your-client-id>"
export TF_VAR_ARM_CLIENT_SECRET="<your-client-secret>"
export TF_VAR_ARM_TENANT_ID="<your-tenant-id>"
export TF_VAR_ARM_SUBSCRIPTION_ID="<your-sub-id>"
export TF_VAR_USR_NODE_COUNT=3
export TF_VAR_RESOURCE_GROUP_NAME_PREFIX="<resource-prefix>"
export CRS_API_HOSTNAME="<your-crs-api-hostname>"
export TS_CLIENT_ID="<your-tailscale-oauth-client-id>"
export TS_CLIENT_SECRET="<your-tailscale-oauth-client-secret>"
export TS_OP_TAG="<your-tailscale-operator-tag>
export COMPETITION_API_KEY_ID="<your-competitionapi-key-id>"
export COMPETITION_API_KEY_TOKEN="<your-competition-api-key-token>"
export COMPETITION_API_URL="<competition-api-url>"
export CRS_KEY_ID="<your-crs-key-id>"
export CRS_KEY_TOKEN="<your-crs-key-token>"
export CRS_KEY_TOKEN_HASH='<argon2-hash-for-crs-key-token>'
export CRS_URL="<your-crs-api-url>"
export GHCR_AUTH="<your-ghcr-base64-auth>"
export AZURE_API_BASE="<your-azure-openai-base-url>"
export AZURE_API_KEY="<your-azure-openai-api-key>"
export OPENAI_API_KEY="<your-openai-api-key>"
export ANTHROPIC_API_KEY="<your-anthropic-api-key>"
export LANGFUSE_HOST="<your-langfuse-host-url>"
export LANGFUSE_PUBLIC_KEY="<your-langfuse-public-key>"
export LANGFUSE_SECRET_KEY="<your-langfuse-secret-key>"
export LITELLM_MASTER_KEY="<your-random-litellm-key>" # Generate with: openssl rand -hex 16
export BUTTERCUP_K8S_VALUES_TEMPLATE="k8s/values-aks.template"
export SCANTRON_GITHUB_PAT="<gh-pat-with-repo-read+packages-read>"
export COMPETITION_API_ENABLED=true # or false
export OTEL_ENDPOINT="<your-otel-endpoint>"
export OTEL_TOKEN="<your-otel-http-token>"
export DOCKER_USERNAME="<your-docker-username>"
export DOCKER_PAT="<your-docker-pat>"