global:
  environment: "minikube"
  ossFuzzContainerOrg: "${FUZZ_TOOLING_CONTAINER_ORG}"
  orchestratorImage:
    repository: localhost/orchestrator
    tag: "latest"
    pullPolicy: Never
  fuzzerImage:
    repository: localhost/fuzzer
    tag: "latest"
    pullPolicy: Never
  seedGenImage:
    repository: localhost/seed-gen
    tag: "latest"
    pullPolicy: Never
  patcherImage:
    repository: localhost/patcher
    tag: "latest"
    pullPolicy: Never
  programModelImage:
    repository: localhost/program-model
    tag: "latest"
    pullPolicy: Never

  langfuse:
    enabled: ${LANGFUSE_ENABLED}
    host: "${LANGFUSE_HOST}"
    publicKey: "${LANGFUSE_PUBLIC_KEY}"
    secretKey: "${LANGFUSE_SECRET_KEY}"

  crs:
    api_key_id: ${CRS_KEY_ID}
    api_key_token: ${CRS_KEY_TOKEN}
    api_key_token_hash: "${CRS_KEY_TOKEN_HASH}"
    api_url: "${CRS_URL}"
    hostname: "${CRS_API_HOSTNAME}"
    competition_api_key_id: ${COMPETITION_API_KEY_ID}
    competition_api_key_token: ${COMPETITION_API_KEY_TOKEN}
    competition_api_url: "${COMPETITION_API_URL}"

  otel:
    endpoint: "${OTEL_ENDPOINT}"
    token: "${OTEL_TOKEN}"
    protocol: "${OTEL_PROTOCOL}"

redis:
  master:
    persistence:
      enabled: false

litellm:
  masterKey: "${LITELLM_MASTER_KEY}"
  azure:
    apiBase: "${AZURE_API_BASE}"
    apiKey: "${AZURE_API_KEY}"
  openai:
    apiKey: "${OPENAI_API_KEY}"
  anthropic:
    apiKey: "${ANTHROPIC_API_KEY}"

competition-api:
  enabled: ${COMPETITION_API_ENABLED}

mock-competition-api:
  enabled: ${MOCK_COMPETITION_API_ENABLED}
