global:
  environment: "aks"

  ossFuzzContainerOrg: "${FUZZ_TOOLING_CONTAINER_ORG}"
  logMaxLineLength: 10240
  orchestratorImage:
    tag: "v0.4.3"
  fuzzerImage:
    tag: "v0.4.3"
  seedGenImage:
    tag: "v0.4.3"
  patcherImage:
    tag: "v0.4.3"
  programModelImage:
    tag: "v0.4.3"

  langfuse:
    enabled: ${LANGFUSE_ENABLED}
    host: "${LANGFUSE_HOST}"
    publicKey: "${LANGFUSE_PUBLIC_KEY}"
    secretKey: "${LANGFUSE_SECRET_KEY}"
  

  crs:
    api_key_id: ${CRS_KEY_ID}
    api_key_token: ${CRS_KEY_TOKEN}
    api_key_token_hash: "${CRS_KEY_TOKEN_HASH}"
    api_url: "${CRS_URL}"
    hostname: "${CRS_API_HOSTNAME}"
    competition_api_key_id: ${COMPETITION_API_KEY_ID}
    competition_api_key_token: ${COMPETITION_API_KEY_TOKEN}
    competition_api_url: "${COMPETITION_API_URL}"

  otel:
    endpoint: "${OTEL_ENDPOINT}"
    token: "${OTEL_TOKEN}"
    protocol: "${OTEL_PROTOCOL}"

  queueTimeouts:
    buildTaskTimeoutMs: 1200000
    buildOutputTaskTimeoutMs: 120000
    downloadTaskTimeoutMs: 720000
    readyTaskTimeoutMs: 120000
    deleteTaskTimeoutMs: 120000
    crashTaskTimeoutMs: 900000
    patchTaskTimeoutMs: 120000
    confirmedVulnerabilitiesTaskTimeoutMs: 1800000
    indexTaskTimeoutMs: 800000
    indexOutputTaskTimeoutMs: 120000
    tracedVulnerabilitiesTaskTimeoutMs: 120000


volumes:
  tasks_storage:
    storageClass: "azurefile-csi-nfs-crs"
    size: "100Gi"
  crs_scratch:
    storageClass: "azurefile-csi-nfs-crs"
    size: "500Gi"


# Dind daemon chart configuration
dind-daemon:
  enabled: true
  resources:
    limits:
      cpu: 16000m
      memory: 32Gi
    requests:
      cpu: 1000m
      memory: 6Gi

redis:
  master:
    persistence:
      enabled: true
      size: 50Gi
    resources:
      limits:
        cpu: 8000m
        memory: 32Gi
      requests:
        cpu: 2000m
        memory: 12Gi

task-server:
  enabled: true
  resources:
    limits:
      cpu: 1000m
      memory: 1Gi
    requests:
      cpu: 250m
      memory: 1Gi

task-downloader:
  enabled: true
  replicaCount: 4
  resources:
    limits:
      cpu: 4000m
      memory: 8Gi
    requests:
      cpu: 250m
      memory: 512Mi
  
scheduler:
  enabled: true
  patchRequestsPerVulnerability: 1
  resources:
    limits:
      cpu: 4000m
      memory: 3Gi
    requests:
      cpu: 250m
      memory: 3Gi

program-model:
  enabled: true
  replicaCount: 4
  resources:
    limits:
      cpu: 8000m
      memory: 8Gi
    requests:
      cpu: 250m
      memory: 512Mi

build-bot:
  enabled: true
  replicaCount: 24
  resources:
    limits:
      cpu: 4000m
      memory: 4Gi
    requests:
      cpu: 250m
      memory: 512Mi

fuzzer-bot:
  enabled: true
  replicaCount: 500
  resources:
    limits:
      cpu: 16000m
      memory: 32Gi
    requests:
      cpu: 500m
      memory: 512Mi

merger-bot:
  enabled: true
  resources:
    limits:
      cpu: 8000m
      memory: 16Gi
    requests:
      cpu: 500m
      memory: 1Gi

coverage-bot:
  enabled: true
  replicaCount: 12
  resources:
    limits:
      cpu: 4000m
      memory: 32Gi
    requests:
      cpu: 250m
      memory: 2Gi

tracer-bot:
  enabled: true
  replicaCount: 8
  resources:
    limits:
      cpu: 8000m
      memory: 4Gi
    requests:
      cpu: 500m
      memory: 4Gi

pov-reproducer:
  enabled: true
  replicaCount: 16
  resources:
    limits:
      cpu: 8000m
      memory: 4Gi
    requests:
      cpu: 500m
      memory: 4Gi

seed-gen:
  enabled: true
  replicaCount: 20
  resources:
    limits:
      cpu: 2000m
      memory: 8Gi
    requests:
      cpu: 500m
      memory: 1Gi

patcher:
  enabled: true
  replicaCount: 28
  maxPatchRetries: 10
  maxContextRetrieverRecursionLimit: 100
  maxMinutesRunPOVs: 30
  resources:
    limits:
      cpu: 2000m
      memory: 6Gi
    requests:
      cpu: 500m
      memory: 2Gi

competition-api:
  enabled: ${COMPETITION_API_ENABLED}

mock-competition-api:
  enabled: ${MOCK_COMPETITION_API_ENABLED}

litellm:
  masterKey: "${LITELLM_MASTER_KEY}"
  azure:
    apiBase: "${AZURE_API_BASE}"
    apiKey: "${AZURE_API_KEY}"
  openai:
    apiKey: "${OPENAI_API_KEY}"
  anthropic:
    apiKey: "${ANTHROPIC_API_KEY}"

litellm-helm:
  resources:
    limits:
      cpu: 8000m
      memory: 8Gi
    requests:
      cpu: 1000m
      memory: 1Gi

  postgresql:
    primary:
      resources:
        limits:
          cpu: 8000m
          memory: 16Gi
        requests:
          cpu: 2000m
          memory: 2Gi

registry-cache:
  enabled: true
  persistence:
    enabled: true
    size: 100Gi
  resources:
    limits:
      cpu: 4000m
      memory: 8Gi
    requests:
      cpu: 2000m
      memory: 4Gi
