apiVersion: v1
kind: ConfigMap
metadata:
  name: coredns-custom
  namespace: kube-system
data:
  tailscale.server: |
    ${TAILSCALE_DOMAIN}:53 {
        forward . ${TS_DNS_IP}
        cache 30
    }
