# docker compose .env template

# LiteLLM variables
BUTTERCUP_LITELLM_KEY=sk-1234
# You only need to change variables for APIs you will use, but you need all these variables set
ANTHROPIC_API_KEY=<INSERT_KEY>
AZURE_API_BASE=<INSERT_HOST>
AZURE_API_KEY=<INSERT_KEY>
OPENAI_API_KEY=<INSERT_KEY>
GEMINI_API_KEY=<INSERT_KEY>

# (optional) LangFuse variables
LANGFUSE_HOST=<INSERT_HOST>
LANGFUSE_PUBLIC_KEY=<INSERT_KEY>
LANGFUSE_SECRET_KEY=<INSERT_KEY>

# Scantron/Competition-API GitHub PAT
# SCANTRON_GITHUB_PAT=<INSERT_PAT>

# (optional) SigNoz variables
# OTEL_EXPORTER_OTLP_ENDPOINT=<INSERT_ENDPOINT>
# OTEL_EXPORTER_OTLP_PROTOCOL=grpc
