name: Docker Compose integration tests

on:
  push:
    branches:
      - main
      - "ci/**"
  pull_request:
    branches:
      - "ci/**"

jobs:
  integration:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Setup ghcr.io credentials
        run: |
          echo ${{ env.GH_TOKEN }} | docker login ghcr.io -u USERNAME --password-stdin
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}

      - name: Build docker images
        run: docker compose build

      - name: Configure .env file
        run: |
          cp env.template .env
          sed -i "s|OPENAI_API_KEY=.*|OPENAI_API_KEY=${{ secrets.OPENAI_API_KEY }}|" .env

      - name: Configure env.dev.compose file
        run: |
          # only test vuln discovery
          echo "BUTTERCUP_SEED_GEN_TEST_TASK=vuln-discovery" >> env.dev.compose

      - name: Run CRS
        run: docker compose up -d
        env:
          LANGFUSE_HOST: ${{ secrets.LANGFUSE_HOST }}
          LANGFUSE_PUBLIC_KEY: ${{ secrets.LANGFUSE_PUBLIC_KEY }}
          LANGFUSE_SECRET_KEY: ${{ secrets.LANGFUSE_SECRET_KEY }}

      - name: Submit a task to the CRS
        run: sleep 5 && bash ./orchestrator/scripts/task_crs.sh

      - name: Wait for vuln submission to happen
        timeout-minutes: 5
        run: |
          while ! docker compose logs scheduler | grep "Vulnerability .* accepted for libpng (harness: .*)" ; do
            sleep 10
          done
      - name: Wait for patch to be submitted
        timeout-minutes: 5
        run: |
          while ! docker compose logs scheduler | grep "Patch accepted: task=.*vuln=.*patch_id=.*status=TypesSubmissionStatus.ACCEPTED"; do
            sleep 10
          done
      - name: Wait for seed-gen to find PoV
        timeout-minutes: 1 # low timeout because already waiting for prior steps
        run: |
          while ! docker compose logs seed-gen | grep "Valid PoV found:"; do
            sleep 10
          done
      - name: Wait for graph to be created
        timeout-minutes: 5
        run: |
          while ! docker compose logs program-model | grep "Successfully loaded graphml file into JanusGraph"; do
            sleep 10
          done

      - name: Collect Docker logs
        run: |
          mkdir -p docker_logs
          for service in $(docker compose ps --services); do
            docker compose logs $service > "docker_logs/${service}.log" 2>&1
          done
        if: always()

      - name: Upload Docker logs
        uses: actions/upload-artifact@v4
        with:
          name: docker-logs
          path: docker_logs/
          retention-days: 4
        if: always()
