[project]
name = "patcher"
version = "0.1.0"
description = "Buttercup patcher"
readme = "README.md"
authors = [{ name = "Trail of Bits", email = "opensource@trailofbits.com" }]
requires-python = ">=3.12,<3.13"
dependencies = [
    "common",
    "langchain~=0.3.20",
    "langchain-community>=0.3.16",
    "langgraph~=0.4.1",
    "langgraph-checkpoint>=2.0.25",
    "openai>=1.60.2",
    "program-model",
    "pydantic-settings>=2.7.1",
    "python-dotenv>=1.0.1",
    "unidiff>=0.7.5",
]

[project.scripts]
buttercup-patcher = "buttercup.patcher.__cli__:main"

[project.optional-dependencies]
tests = [
    "flake8>=7.1.1",
    "mypy>=1.15.0",
    "pytest>=8.3.4",
    "pytest-asyncio>=0.25.2",
    "pytest-cov>=6.0.0",
    "pytest-xdist>=3.6.1",
    "ruff>=0.9.2",
    "types-python-dateutil>=2.9.0.20241206",
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
packages = ["src/buttercup"]

[tool.ruff]
line-length = 120

[tool.uv.sources]
common = { path = "../common", editable = true }
program-model = { path = "../program-model", editable = true }

[tool.mypy]
plugins = ['pydantic.mypy']
mypy_path = "src"
packages = "buttercup"
allow_redefinition = true
check_untyped_defs = true
disallow_incomplete_defs = true
disallow_untyped_defs = true
ignore_missing_imports = true
no_implicit_optional = true
show_error_codes = true
sqlite_cache = true
strict_equality = true
warn_no_return = true
warn_redundant_casts = true
warn_return_any = true
warn_unreachable = true
warn_unused_configs = true
warn_unused_ignores = true
exclude = []
